* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #09090a;

  height: 100vh;

  color: #ffffff;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 48px;

  position: fixed;

  width: 100%;
  background-color: #09090a;
}

button {
  border: 1px solid #8b5cf6;
  border-radius: 8px;

  color: #ffffff;

  background-color: transparent;

  padding: 16px 24px;

  display: flex;
  align-items: center;
  gap: 12px;

  font-family: "Inter";
  font-size: 16px;
  font-weight: 600;
  line-height: 125%;
}

form {
  display: flex;

  padding: 180px 38px 38px;

  width: fit-content;
}

.habits {
  margin-top: 58px;

  display: flex;
  flex-direction: column;

  gap: 24px;
}

.habit {
  height: 64px;
  width: 64px;

  font-size: 36px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.days {
  display: flex;
  gap: 48px;
}

.day {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.day div {
  margin-bottom: 8px;

  font-family: "Roboto mono";
  font-size: 20px;

  line-height: 125%;

  text-align: center;

  color: #a1a1aa;
}

input {
  appearance: none;
  -webkit-appearance: none;

  width: 64px;
  height: 64px;

  border: 2px solid darkred;
  border-radius: 8px;

  background-color: #ff0000;
}

input:checked {
  background-color: #00ff00;
  border: 2px solid darkgreen;
}

@media screen and (max-width: 570px) {
  header button div {
    display: none;
  }
}
